.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80rem;

  &__error {
    font-size: 8rem;
    font-weight: 700;
    padding-bottom: 5rem;
    color: $color-primary;
  }

  &__oups {
    font-size: 3rem;
    color: #000;
  }
}
