.asideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12rem;
  background-color: #000;

  &__icons {
    height: 31.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10rem;
  }

  &__icon {
    width: 6.4rem;
    height: 6.4rem;
  }

  &__copyrights {
    color: #fff;
    transform: rotate(270deg);
    margin-bottom: 6rem;
    font-size: 1.2rem;
    width: 20rem;
  }
}
