.cardInfosContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__info {
    display: flex;
    align-items: center;
    width: 25.8rem;
    height: 12.4rem;
    background-color: #fbfbfb;

    &--icon {
      width: 6rem;
      height: 6rem;
      margin: 0 3rem;
    }

    &--data {
      p {
        font-size: 2rem;
        font-weight: 700;
        color: #000;
      }

      h4 {
        font-size: 1.4rem;
        color: #74798c;
      }
    }
  }
}
