.chartBarContainer {
  width: 84rem;
  height: 32rem;
  background-color: #fbfbfb;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.5rem;
    }

    .labelsActivities {
      display: flex;
    }
  }
}
