.chartLineContainer {
  width: 26rem;
  height: 26rem;
  border-radius: 5px;
  background-color: #ff0000;
  position: relative;
}

.chartLine-title {
  position: absolute;
  max-width: 14rem;
  padding-left: 3rem;
  padding-top: 3rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.4rem;
  color: #ffffff80;
  z-index: 1;
}
