.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 132rem;
  //width: 83.5rem;
  margin: auto;
  margin-bottom: 10rem;

  &__header {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  &__charts {
    display: flex;
  }
}
