.headerContainer {
  width: 100%;

  &__title {
    font-size: 4.8rem;
    font-weight: 500;
    color: #000;
    padding-bottom: 2.4rem;
  }

  &__firstName {
    font-size: 4.8rem;
    color: $color-primary;
  }

  p {
    font-size: 1.8rem;
  }
}
