.topNavContainer {
  background-color: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.1rem;

  &__logo {
    width: 17.8rem;
    margin-left: 2.6rem;
  }

  &__nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  &__nav li {
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
